<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF"-8>
    <meta http-equiv="X-UA-Compatible" content=""IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Test site</title>
    <link rel="stylesheet" href="static/css/styles.css" type="text/css"/>
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,400i,500,700" rel="stylesheet">
</head>

<body class="main-body">
    
    


        <div id="default-header">
                <div id="header-block">
                    <p class="card-title">
                    Faneagain
                    </p>
                    <p class="card-title">
                        &nbsp &nbsp log&else
                    </p>
                </div>
                <div id="header-block-buttons">
                    <button type="sumbit" id="header-button">
                        <img src="static\images\menu-search.png" width="30" height="30" alt="submit">  
                    </button>
                    <button type="sumbit" id="header-button">  
                        <img src="static\images\menu-burger.png" width="30" height="30" alt="submit">                      
                    </button>
                </div>
        </div>

    <div class = "layout">

        <div class ="block">
            <div class="vertical-holder">

                <div class="content-card">
                        <p class="entry-title">
                            Name 6/10 (800/800)
                        </p>
                    
                        <time class="entry-time" datetime="5/24/2022" title="5/24/2022">
                            5/24/2022
                        </time>

                        <p class="entry-desc">
                        &nbsp&nbspAasdasdasasdasd
                        </p>
                </div>
            </div>
            
            <div class="card-image" style="background-image: url('static/images/pog.png');">
            </div>

        </div>

        <div class ="block">
            <div class="vertical-holder">

                <div class="content-card">
                        <p class="entry-title">
                            Name 6/10 (800/800)
                        </p>
                    
                        <time class="entry-time" datetime="5/24/2022" title="5/24/2022">
                            5/24/2022
                        </time>

                        <p class="entry-desc">
                        &nbsp&nbspAasdasdassssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssss
                        </p>
                </div>
            </div>

            <div class="card-image" style="background-image: url('static/images/pog.png');">
            </div>

        </div>

        

    </div>

    
        


        










</body>
</html>



{{data.page}}