<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF"-8>
    <meta http-equiv="X-UA-Compatible" content=""IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Test site</title>
    <link rel="stylesheet" href="static\css\styles.css" type="text/css"/>
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,400i,500,700" rel="stylesheet">
</head>

<body class="main-body">
    
    


        <div id="default-header">
                <div id="header-block">
                    <p class="card-title">
                    Faneagain
                    </p>
                    <p class="card-title">
                        &nbsp &nbsp log&else
                    </p>
                </div>
                <div id="header-block-buttons">
                    <button type="sumbit" id="header-button">
                        <img src="static\images\menu-search.png" width="30" height="30" alt="submit">  
                    </button>
                    <button type="sumbit" id="header-button">  
                        <img src="static\images\menu-burger.png" width="30" height="30" alt="submit">                      
                    </button>
                </div>
        </div>

    <div class = "layout">

        <div class ="comment-block">
            <form class="vertical-holder">

                <div class="content-card">
                        <label class="entry-title">Заголовок</label>
                        <input class="input-title" type="text" id="name" name="user_name" />
                        
                    
                        <label class="entry-title">Описание</label>

                        <textarea class="input-desc" rows="10" cols="50"></textarea>


                </div>
            </form>
            

            <input class="card-image" type="file" src="static\images\pog.png" id="image-input" accept="image/jpeg/png" single/>
        </div>

    </div>

        <div class ="block">
            <button type="submit">Submit</button>
        </div>



        

    </div>

    
        


        










</body>
</html>



{{data.page}}